.hero {
    position: relative;
    height: 250px;
    padding: 1px;
    margin-top: -2px;
    margin-left: -10px;
    background: black;
        background-attachment: scroll;
        background-image: url("../images/eggs.png");
        background-size: auto;
        background-size: cover;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-size: 30px;
    text-align: center;
}

.text-center {
    text-align: center;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.spamProb {
    font-size: 40px;
    padding-top: 50px;
}
