<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Classifying spam!</title>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/reset.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body style="background-color: black; color: white">

    <div class="hero text-center">
    </div>

<div class="text-center">
    <h1 style="color:white">Let's blast some spam.</h1>
<input id="text" size="100" placeholder="Type a text message here" onChange="onSubmit(this.value)"
 style="background-color: black; color: white; border-color: black">
</div>

<h1 id="spamProb" class="text-center spamProb"></h1>
<div id="decision" class="text-center" style="font-size: 20px"></div>
</body>


<script src="../static/js/script.js"></script>
</html>
